.rt-panel-body {
	>h2 {
		border-bottom: 1px solid #d7d7d7;
	}

	.rt-base-control {
		padding-top: 10px;

		.rt-input-text {
			border: 1px solid #949494;
			width: 100%;
			padding: 6px;
			border-radius: 3px;
		}

		.url-input-wrapper {
			position: relative;

			input {
				width: 100%;
				border: none;
				outline: none;
				background: transparent;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;

				&:hover,
				&:focus {
					overflow: auto;
					white-space: nowrap;
				}
			}
		}
	}
}


.rt-toggle-control {
	padding-top: 10px;

	>div {
		>div {
			flex-direction: row-reverse;
		}
	}
}


.rt-post {
	position: relative;
	background: #fff;
	border-radius: 0.5rem;
	overflow: hidden;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	height: auto;
	display: flex;
	flex-direction: column;
	transition: transform 0.2s ease, box-shadow 0.2s ease;

	&,
	* {
		text-decoration: none;
	}

	&__image {
		width: 100%;
		max-width: 100%;
		aspect-ratio: 9/16;
		max-height: 300px;
		object-fit: cover;
	}

	&__meta {
		display: flex;
		padding-inline: 10px;
		padding-top: 10px;
		font-size: 14px;
		font-family: "Times New Roman";
		justify-content: space-between;
		color: #383838;
	}

	&__title {
		font-size: 18px;
		font-family: "Times New Roman";
		padding-inline: 10px;
		line-height: 1.25;
		margin-block: 8px;

		&:hover {
			color: #0073e6;
		}
	}

	&__excerpt {
		font-size: 16px;
		font-family: 'Times New Roman';
		color: #383838;
		padding-inline: 10px;
		padding-bottom: 10px;

		.rt-post {
			&__read-more {
				font-style: italic;
				color: #383838;
				font-weight: 600;

				&:hover {
					color: #0073e6;
				}
			}
		}
	}

}

/* Responsive Design */
@media (max-width: 1200px) {

	.rt-slider {
		&__slide {
			height: 450px;

			.rt-post {
				height: 440px;
			}
		}
	}
}

@media (max-width: 992px) {
	.rt-panel-body {
		.rt-base-control {
			padding-top: 6px;
		}
	}

	.rt-slider {
		&__slide {
			height: 335px;
			width: 50%;

			.rt-post {
				height: 320px;

				&__image {
					max-height: 200px;
				}

				&__title {
					font-size: 14px;
				}

				&__excerpt {
					font-size: 12px;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.rt-panel-body {
		>h2 {
			font-size: 1.2rem;
		}

		.rt-base-control {
			padding-top: 4px;
		}
	}

	.rt-slider {
		&__slide {
			height: auto;

			.rt-post {
				height: 285px;

				&__image {
					max-height: 150px;
					aspect-ratio: auto;
				}

			}
		}
	}
}

@media (max-width: 576px) {

	.rt-panel-body {
		>h2 {
			font-size: 1rem;
		}
	}

	.rt-slider {
		&__slide {
			width: 100%;
			height: auto;

			.rt-post {
				height: 240px;

				&__image {
					max-height: 100px;
				}

				&__title {
					font-size: 16px;
				}

				&__excerpt {
					font-size: 14px;
				}
			}
		}

	}
}

@media (max-width: 360px) {
	.rt-slider {

		&__slide {

			.rt-post {
				&__title {
					font-size: 13px;
				}

				&__excerpt {
					font-size: 10px;
				}

				&__date {
					font-size: 12px;
				}

				&__updated {
					font-size: 12px;
				}
			}
		}

		&__controls {
			.rt-slider {
				&__control {
					font-size: 12px;
				}
			}
		}

	}
}